*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
  background-image: url("../public/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}
.container{
  width: 98vw;
  height: 96vh;
  background-color: lab(41.54% 37.24 -68.08 / 0.448);
  backdrop-filter: blur(1px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.424);
  box-shadow: 5px 5px 6px black;
  display: flex;

}
.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}